.contain {
  width: 20%;
  margin: 15px 25px;
  background-color: #373b69;
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  color: white;
  overflow: hidden;
  position: relative;
  transition: 0.5s ease-in-out;
}
.contain:hover {
  color: white;
  text-decoration: none;
  transform: scale(1.05);
  cursor: pointer;
}
.blue:hover {
  transform: none;
}
.move-img img {
  width: 100%;
  margin: 0;
  max-width: 100%;
  height: 350px;
}
.info-contain {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0.8rem;
}
.info-contain h4 {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
}
.description {
  padding: 0.8rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: blanchedalmond;
  max-height: 100%;
  color: #22254b;
  transform: translateY(101%);
  transition: 0.4s ease-in-out;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: black;
}
.description h4 {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
}
.contain:hover .description {
  transform: translateY(0%);
}
span {
  display: flex;
}
.jfx {
  margin: 0;
  width: 100%;
  background-color: #373b69;
  border-radius: 6px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  color: white;
  overflow: hidden;
  position: relative;
  transition: 0.5s ease-in-out;
}
